<div id="outer">
    <div id="inner">
<div fxLayout="row" fxLayoutAlign="center center" style=" padding-top: 20px; min-height: 90vh; max-width: 90vh;">
    <mat-card fxFlex md="50%" fxFlex.xs="100%">
      <mat-card-content>
        <h1 id="tableLabel">Income Tax Calculator</h1>
        <p style="padding-bottom: 15px;">UK income tax is calculated according to tax bands. </p>
      </mat-card-content>
      <mat-card-content>
        <app-salary-input (resultChange)="setResult($event)"></app-salary-input>
        <app-salary-result [result]="result"></app-salary-result>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>